# Movilens

In [64]:

import numpy as np
import pandas as pd
import os

In [65]:
def read_dataset(path, names_column): #(path = './model_context_pref.csv'
    dataset = pd.read_csv(path,sep="\t",names=names_column)
    return dataset
def preprocesing(dataset):
    
    user_id = dataset.iloc[:, 1:3].values
    X = dataset.iloc[:, 3:5].values
    Y = dataset.iloc[:, 5].values

    return X,Y,user_id

# Preprocesing Train Data

In [66]:
pathBase =  "/home/yessica/Documentos/2021/ProyectoTesis/SR/SRTourism/mod_adquisicion_datos/movilens/ml-100k/u1.base"
names_column = ['user','poi','rating','time']
df = read_dataset(pathBase,names_column)

In [67]:
def minmax_norm(df_input):
    return (df_input- df_input.min()) / ( df_input.max() - df_input.min())

In [58]:
dfN = minmax_norm(df)

In [68]:
dfN

       user       poi  rating      time
0       0.0  0.000000    1.00  0.012985
1       0.0  0.000595    0.50  0.116822
2       0.0  0.001190    0.75  0.205703
3       0.0  0.001785    0.50  0.116819
4       0.0  0.002380    0.50  0.809560
...     ...       ...     ...       ...
79995   1.0  0.634146    0.25  0.041861
79996   1.0  0.638311    0.75  0.749682
79997   1.0  0.706127    0.50  0.749682
79998   1.0  0.729923    0.50  0.749683
79999   1.0  0.790601    0.50  0.752495

[80000 rows x 4 columns]

In [69]:
dfN.to_csv('../mod_recomendacion/datasetPropuesta/test_movilensTrain.csv')

# Preprocesing Test Data

In [70]:
pathBase_ =  "/home/yessica/Documentos/2021/ProyectoTesis/SR/SRTourism/mod_adquisicion_datos/movilens/ml-100k/u1.test"
names_column = ['user','poi','rating','time']
dfTest = read_dataset(pathBase_,names_column)
dfTestN = minmax_norm(dfTest)
#dfTest.iloc[:,2:-1] = dfTest.iloc[:,2:-1].apply(lambda x: (x-x.mean())/ x.std(), axis=0)
dfTestN

           user       poi  rating      time
0      0.000000  0.003145    1.00  0.684917
1      0.000000  0.005660    0.50  0.052197
2      0.000000  0.006918    1.00  0.205802
3      0.000000  0.008176    1.00  0.012990
4      0.000000  0.010063    0.50  0.018783
...         ...       ...     ...       ...
19995  0.991323  0.406918    0.75  0.629073
19996  0.991323  0.691824    0.75  0.629183
19997  0.993492  0.586792    0.50  0.260817
19998  0.995662  0.005660    0.50  0.441312
19999  1.000000  0.428302    1.00  0.627420

[20000 rows x 4 columns]

In [71]:
dfTestN.to_csv('../mod_recomendacion/datasetPropuesta/test_movilensTest.csv')