# Movilens

In [8]:

import numpy as np
import pandas as pd
import os

In [9]:
def read_dataset(path = './model_context_pref.csv'):
    dataset = pd.read_csv(path,sep="\t")
    return dataset
def preprocesing(dataset):
    
    user_id = dataset.iloc[:, 1:3].values
    X = dataset.iloc[:, 3:5].values
    Y = dataset.iloc[:, 5].values

    return X,Y,user_id

In [10]:
pathBase =  "/home/yessica/Documentos/2021/ProyectoTesis/SR/SRTourism/mod_adquisicion_datos/movilens/ml-100k/u1.base"
read_dataset(pathBase)

         1   1.1  5  874965758
0        1     2  3  876893171
1        1     3  4  878542960
2        1     4  3  876893119
3        1     5  3  889751712
4        1     7  4  875071561
...    ...   ... ..        ...
79994  943  1067  2  875501756
79995  943  1074  4  888640250
79996  943  1188  3  888640250
79997  943  1228  3  888640275
79998  943  1330  3  888692465

[79999 rows x 4 columns]