# Movilens

In [19]:

import numpy as np
import pandas as pd
import os

In [20]:
def read_dataset(path, names_column): #(path = './model_context_pref.csv'
    dataset = pd.read_csv(path,sep="\t",names=names_column)
    return dataset
def preprocesing(dataset):
    
    user_id = dataset.iloc[:, 1:3].values
    X = dataset.iloc[:, 3:5].values
    Y = dataset.iloc[:, 5].values

    return X,Y,user_id

# Preprocesing Train Data

In [57]:
def minmax_norm(df_input):
    return (df_input['rating']- df_input['rating'].min()) / ( df_input['rating'].max() - df_input['rating'].min())

In [64]:
def minmax_norm_(df_input):
    return (df_input- df_input.min()) / ( df_input.max() - df_input.min())

In [41]:
pathBase =  "/home/yessica/Documentos/2021/ProyectoTesis/SR/SRTourism/mod_adquisicion_datos/movilens/ml-100k/u1.base"
names_column = ['user','poi','rating','time']
df = read_dataset(pathBase,names_column)
df

       user   poi  rating       time
0         1     1       5  874965758
1         1     2       3  876893171
2         1     3       4  878542960
3         1     4       3  876893119
4         1     5       3  889751712
...     ...   ...     ...        ...
79995   943  1067       2  875501756
79996   943  1074       4  888640250
79997   943  1188       3  888640250
79998   943  1228       3  888640275
79999   943  1330       3  888692465

[80000 rows x 4 columns]

In [47]:
ratings = minmax_norm(df)
dfN_ = df[["user", "poi"]]
result = pd.concat([dfN_, ratings], axis=1)
result

       user   poi  rating
0         1     1    1.00
1         1     2    0.50
2         1     3    0.75
3         1     4    0.50
4         1     5    0.50
...     ...   ...     ...
79995   943  1067    0.25
79996   943  1074    0.75
79997   943  1188    0.50
79998   943  1228    0.50
79999   943  1330    0.50

[80000 rows x 3 columns]

In [56]:
result

       user   poi  rating
0         1     1    1.00
1         1     2    0.50
2         1     3    0.75
3         1     4    0.50
4         1     5    0.50
...     ...   ...     ...
79995   943  1067    0.25
79996   943  1074    0.75
79997   943  1188    0.50
79998   943  1228    0.50
79999   943  1330    0.50

[80000 rows x 3 columns]

In [17]:
result.to_csv('../mod_recomendacion/datasetPropuesta/test_movilensTrain.csv')

# Preprocesing Test Data

In [60]:
pathBase_ =  "/home/yessica/Documentos/2021/ProyectoTesis/SR/SRTourism/mod_adquisicion_datos/movilens/ml-100k/u1.test"
names_column = ['user','poi','rating','time']
dfTestN = read_dataset(pathBase_,names_column)
ratings_ = minmax_norm(dfTestN)
dfTestN_ = dfTestN[["user", "poi"]]
resultTest = pd.concat([dfTestN_, ratings_], axis=1)
resultTest

       user   poi  rating
0         1     6    1.00
1         1    10    0.50
2         1    12    1.00
3         1    14    1.00
4         1    17    0.50
...     ...   ...     ...
19995   458   648    0.75
19996   458  1101    0.75
19997   459   934    0.50
19998   460    10    0.50
19999   462   682    1.00

[20000 rows x 3 columns]

In [62]:
users = resultTest['user'].unique().tolist()
print(len(users))
item = resultTest['poi'].unique().tolist()
len(item)

459

1410

In [63]:
resultTest.to_csv('../mod_recomendacion/datasetPropuesta/test_movilensTest.csv')

# Agregar Data Artificial

In [72]:
def generatePreferences(f,c):
    df = pd.DataFrame(np.random.randint(0,10,size=(f, c)))
    df = minmax_norm_(df)
    
    return df

In [73]:
f = resultTest.shape[0]
f

20000

In [75]:
preferencia = generatePreferences(f,2)
preferencia

              0         1
0      0.111111  0.666667
1      0.888889  0.777778
2      0.333333  0.333333
3      0.666667  0.111111
4      0.444444  0.666667
...         ...       ...
19995  0.777778  0.555556
19996  0.555556  0.333333
19997  0.888889  0.000000
19998  0.222222  0.444444
19999  0.333333  0.222222

[20000 rows x 2 columns]